
<div id="pageheader" class="ui fixed inverted menu">
	<div class="ui container">
		<div href="#" class="header item">GitMining</div>
		<a href="/GithubVisualization/overview" class="item" id="overviewitem">Home</a>
		
		<div class="ui simple dropdown item">
			Repository <i class="dropdown icon"></i>
			<div class="menu">
				<a class="item" href="/GithubVisualization/repos?tag=ActiveRecord&lan=all&year=all">Repositories</a> 
				<a class="item" href="/GithubVisualization/repoAnalysis">Statistics</a>
			</div>
		</div>
		
		<div class="ui simple dropdown item">
			User <i class="dropdown icon"></i>
			<div class="menu">
				<a class="item" href="/GithubVisualization/user/top">Users</a> 
				<a class="item" href="/GithubVisualization/user">Statistics</a>
			</div>
		</div>

		<p id="viewtype" style="">$!result.type</p>
	</div>
</div>