
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<div href="#" class="header item">GitMining</div>
			<a href="#" class="item" id="overviewitem">Overview</a>
			<a href="/GithubVisualization/simpleRepo" class="item" id="repositoryitem">Repository</a>
			<a href="/GithubVisualization/user" class="item" id="useranalysisitem">UserAnalysis</a>
			<p id="viewtype" style="hidden">$!type.type</p>
		</div>
	</div>