
	<div id="pageheader" class="ui fixed inverted menu">
		<div class="ui container">
			<div href="#" class="header item">GitMining</div>
			<a href="/GithubVisualization/overview" class="item" id="overviewitem">Overview</a>
			<a href="/GithubVisualization/repos?tag=typeA&type=all" class="item" id="repositoryitem">Repository</a>
			<a href="/GithubVisualization/user/top" class="item" id="useritem">User</a>
			
			<p id="viewtype" style="hidden">$!result.type</p>
		</div>
	</div>