@CHARSET "UTF-8";
body {
	background-color: #FFFFFF;
}

.ui.menu .item img.logo {
	margin-right: 1.5em;
}

.ui.text.container{
	max-width:900px!important;
}

.main.container {
	margin-top: 5em;
}

.wireframe {
	margin-top: 2em;
}

.ui.footer.segment {
	margin: 4em 0em 0em;
	padding: 4em 0em;
}

td,b{
/* 	font-size:8px; */
}

.ui.menu{
	font-size:1.2em;
}

.ui.inverted.menu .active.item{
	border-bottom:3px solid #009c95
}

.content{
	min-height:29em;
	text-align:center;
}

.ui.big.input{
	margin-left:auto;
	margin-right:auto;
	width:22em;
}

#repolist{
	max-width:800px;
	margin-top:2em;
	border-top:5px solid #009c95;
	margin-left:auto;
	margin-right:auto;
}

.repo-list-item{
	position:relative;
	padding:20px 10px 20px 20px;
	
	list-style:none;
	border-bottom:1px solid #eee;
	text-align:left;
	
}

.repo-list-name{
	margin:0 0 8px;
	font-size:1.2em;
	line-height:1.2;
}