#parse('/templates/searchrepo.vm')
<div id="repoinfo">
	<h1 class="ui header">
	  <i class="github square icon"></i>
	  <div class="content"><br/>$!result.repository.full_name
	  <div class="sub header">$!result.repository.description<br/></div>
	  </div>
	</h1>
	
	<div class="html ui top attached segment">
		<div class="ui top attached label"><h3>Basic Information</h3></div>
		<div class="ui tiny statistics">
			  <div class="teal statistic">
			  <div class="label">Language</div>
			    <div class="value">$!result.repository.language</div>			    
			  </div>
			  
			  <div class="teal statistic">
			  	<div class="label">Repository Type</div>
			    <div class="value">$!result.repository.type</div>
			  </div>
			  
			  <div class="teal statistic">
			  	<div class="label">Owner Type</div>
			    <div class="value">$!result.repository.owner_type</div>
			  </div>	  
		  </div>
	</div>
	<div class="html ui top attached segment">
		<div class="ui top attached label"><h3>Member</h3></div>
		<div class="ui tiny statistics">
		  <div class="teal statistic">
		    <div class="value">$!result.repository.contributor</div>
		    <div class="label">contributors</div>
		  </div>
		  <div class="teal statistic">
		    <div class="value">$!result.repository.collaborator</div>
		    <div class="label">collaborators</div>
		  </div>
		  <div class="teal statistic">
		    <div class="value">$!result.repository.commit</div>
		    <div class="label">commits</div>
		  </div>	
		</div>
	</div>
	
	<div class="html ui top attached segment">
		<div class="ui top attached label"><h3>Issue</h3></div>
		<div class="ui tiny statistics">
		  <div class="teal statistic">
		    <div class="value">$!result.repository.open_issues</div>
		    <div class="label">open issues</div>
		  </div>
		   <div class="teal statistic">
		    <div class="value">$!result.repository.closed_issues</div>
		    <div class="label">closed issues</div>
		  </div>	
		</div>
		<div class="ui tiny statistics">
		   <div class="teal statistic">
		    <div class="value">$!result.repository.open_pull</div>
		    <div class="label">open pulls</div>
		  </div>
		  
		  <div class="teal statistic">
		    <div class="value">$!result.repository.closed_pull</div>
		    <div class="label">closed pulls</div>
		  </div>
		  
		  <div class="teal statistic">
		    <div class="value">$!result.repository.merged_pull</div>
		    <div class="label">merged pulls</div>
		  </div>
		  
		   <div class="teal statistic">
		    <div class="value">$!result.repository.rejected_pull</div>
		    <div class="label">rejected pulls</div>
		  </div>
		</div>
	</div>
	
	<div class="html ui top attached segment">
		<div class="ui top attached label"><h3>Popularity</h3></div>
		<div class="ui tiny statistics">
			  <div class="teal statistic">
			    <div class="value"><i class="empty star icon"></i>$!result.repository.stargazers</div>
			    <div class="label">stargazers</div>
			  </div>
			  
			  <div class="teal statistic">
			    <div class="value"><i class="Checkmark icon"></i>$!result.repository.subscribers</div>
			    <div class="label">subscribers</div>
			  </div>
			  
			  <div class="teal statistic">
			    <div class="value"><i class="fork icon"></i>$!result.repository.fork_num</div>
			    <div class="label">forks</div>
			  </div>	  
		  </div>
	</div>
	
	<div class="html ui top attached segment">
		<div class="ui top attached label"><h3>Time</h3></div>
		<div class="ui mini statistics">
			  <div class="teal statistic">
			    <div class="value">$!result.repository.create_time</div>
			    <div class="label">Create Time</div>
			  </div>
			  
			  <div class="teal statistic">
			    <div class="value">$!result.repository.push_time</div>
			    <div class="label">Push Time</div>
			  </div>
			  
			  <div class="teal statistic">
			    <div class="value">$!result.repository.update_time</div>
			    <div class="label">Last Update Time</div>
			  </div>	  
		  </div>
	</div>
	

</div>