<link rel="stylesheet" type="text/css"
	         href="/GithubVisualization/static/css/repo.css">

#parse('/templates/searchrepo.vm')
	<div id="repoinfo">
		<!--客观信息-->
		<h2 class="ui header">
			<div class="headcontent">
			    <i class="github square icon small"></i><a href="/GithubVisualization/user/content?id=$!result.repository.owner_id">$!result.repository.owner_name</a> / <a >$!result.repository.full_name</a> 
				<div class="sub header">
					$!result.repository.description<br />
				</div>
			</div>
		</h2>
		<br /> <br />
		<div id="content" class="ui grid">
			<div class="ten wide column">
				<h2>Repository Statistics</h2>
				<div class="ui mini horizontal statistic">
					<div class="value">$!result.repository.contributor</div>
					<div class="label">contributors</div>
				</div>

				<div class="ui mini horizontal statistic">
					<div class="value">$!result.repository.stargazers</div>
					<div class="label">stargazers</div>
				</div>
				<div class="ui mini horizontal statistic">
					<div class="value">$!result.repository.subscribers</div>
					<div class="label">subscribers</div>
				</div>
				<div class="ui mini horizontal statistic">
					<div class="value">$!result.repository.fork_num</div>
					<div class="label">forks</div>
				</div>
			</div>
			<div class="six wide column">
				<div id="reposcorePic" style="min-width: 300px; height: 300px"></div>
			</div>
		</div>
		<!--评分-->
		<div id="reposcore" style="display: none;">
			<h1>repo_score</h1>
			<p>hot_score:$result.scores.hot</p>
			<p>mature_score:$result.scores.mature</p>
			<p>popular_score:$result.scores.popular</p>
			<p>size_score:$result.scores.size</p>
			<p>contributor_score:$result.scores.contributor</p>
			<p>total_score:$result.scores.total</p>
		</div>

		<!--推荐-->
		<div id="recommendlist" style="text-align: left;">
			<h3>Recommend</h3>

			<div class="ui grid">
				<div class="three wide column">
					<div class="ui segment">
						<h3>related repos by tag</h3>
						<div class="ui relaxed divided list">
							#foreach( $repo in $result.relatedRepos.tag)
							<div class="item">
								<i class="large github middle aligned icon"></i>
								<div class="content">
									<a class="header"
										href="/GithubVisualization/repository/content?id=$repo.id">$!repo.full_name</a>
								</div>
							</div>
							#end

						</div>
					</div>
				</div>

				<div class="three wide column">
					<div class="ui segment">
						<h3>related repos by owner</h3>
						<div class="ui relaxed divided list">
							#foreach( $repo in $result.relatedRepos.owner)
							<div class="item">
								<i class="large github middle aligned icon"></i>
								<div class="content">
									<a class="header"
										href="/GithubVisualization/repository/content?id=$repo.id">$!repo.full_name</a>
								</div>
							</div>
							#end
						</div>
					</div>
				</div>

				<div class="three wide column">
					<div class="ui segment">
						<h3>related repos by viewer</h3>
						<div class="ui relaxed divided list">
							#foreach( $repo in $result.relatedRepos.viewer)
							<div class="item">
								<i class="large github middle aligned icon"></i>
								<div class="content">
									<a class="header"
										href="/GithubVisualization/repository/content?id=$repo.id">$!repo.full_name</a>
								</div>
							</div>
							#end
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
   <script src="/GithubVisualization/static/js/library/highcharts.js"></script>
  <script type="text/javascript" src="/GithubVisualization/static/js/library/exporting.js"></script>
  <script type="text/javascript" src="/GithubVisualization/static/js/library/highcharts-more.js"></script>
  <script type="text/javascript" src="/GithubVisualization/static/js/repository.js"></script>