
<form id="search-repo-form" action="/GithubVisualization/repository/search" method="POST">
    <div class="ui action input"> 
    
      <input id="search-name" name="reponame" type="text" placeholder="Repository..." 
             value="$!result.searchstring" ng-model="query">
      <button id="search-repo-btn" type="submit" class="ui teal button"> Search </button>     
    </div>  

</form>
