<form id="search-repo-form" action="/GithubVisualization/repository/search" method="POST">
    <div class="ui big action input"> 
      <input id="search-name" name="reponame" type="text" placeholder="Repository name" value="$!result.searchstring">
      <button id="search-repo-btn" type="submit" class="ui teal icon button"> Search </button>     
    </div>   
</form>

